<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form th:action="@{/salvar}" method="POST">
        <input type="text" name="nome"/>
        <input type="text" name="cpf"/>
        <input type="text" name="pis"/>
        <input type="text" name="funcao"/>
        <input type="text" name="tipo"/>
        <input type="submit" value="Salvar"/>
    </form>

    <table>
        <tr th:each="funcionario : ${funcionarios}">
        <td th:text="${funcionario?.codigoFuncionario}"></td>
        <td th:text="${funcionario?.nome}"></td>
        <td th:text="${funcionario?.cpf}"></td>
        <td th:text="${funcionario?.pis}"></td>
        <td th:text="${funcionario?.funcao}"></td>
        <td th:text="${funcionario?.tipo}"></td>
    </tr>
    </table>    
</body>
</html>